* {
  margin: 0;
  body: 0;
}

nav {
  display: flex;
  background-color: #ffada3;
  height: 60px;
}

nav li {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 40px;
  text-decoration: none;
  font-size: 35px;
  color: #fff3f2;
}